[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
flask-wtf = "*"
wtforms = "*"
neovim = "*"
youtube-dl = "*"
pyinstaller = "*"
pywin32-ctypes = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
