[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flaskwebgui = "*"
requests = "*"
python-dotenv = "*"
flask-wtf = "*"
wtforms = "*"
neovim = "*"
youtube-dl = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.9"
