{% extends "layout.html" %}

{% block content %}

<div class="content-section text-center">
    <h1>Youtube to MP3 Converter</h1>
    <p>Search for a video to convert below:</p>
    <form action="" method="POST" class="mb-3">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {% if form.query.errors %}
            {{ form.query(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.query.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>

            {% else %}
            {{ form.query(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>

    {% if items %}
    {% for item in items %}
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="{{ item["snippet"]["thumbnails"]["high"]["url"] }}" class="card-img">
            </div>
            <div class="col-md-9">
                <div class="card-body text-start">
                    <div class="row">
                        <div class="col-10">
                          <a class="card-title" href="https://www.youtube.com/watch/{{ item["id"]["videoId"] }}">{{ item["snippet"]["title"] }}</a>
                        </div>
                        <div class="col-2">
                            <a href="{{ url_for('download', link=item["id"]["videoId"] ) }}" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                    <p class="card-text">{{ item["snippet"]["channelTitle"] }}</p>
                    <p class="card-text">{{ item["snippet"]["description"] }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}
</div>

{% endblock content %}
